#login-container {
  padding: 20px;
  width: fit-content;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 10px;
}

#create-account {
  grid-column: 1 / -1;
  justify-self: right;
  font-size: 14px;
}

#login-container button {
  grid-column: 1 / -1;
  justify-self: right;
}

.error-message {
  grid-column: 1/-1;
  justify-self: center;
  color: red;
  min-height: 20px;
}
